<div>
    <div class="row justify-content-center">
        <img src="../../assets/images/order.png">
    </div>
    <p class="row justify-content-center m-4">
        Hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
    </p>

    <table class="table-responsive container mb-4">
        <thead>
            <tr class="table-secondary">
                <th>Email us</th>
                <th>Contact us</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-bordered">
                <td>admin@bookstore.com</td>
                <td>+91 8163475881</td>
                <td>42rgb(50, 90, 133)Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,
                    Bangalore 560034</td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center">
        <button type="button" class="btn mb-4" routerLink="/dashboard/home">Continue Shopping</button>
    </div>
</div>