<table class="table table-bordered container mt-4">
    <thead>
      <tr>
        <th>Order.No</th>
        <th>Book Name</th>
        <th>Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody *ngFor="let order of orders;let i=index">
      <tr *ngIf="order.user_id.fullName =='Aniket gujar'">
        <th>{{i+1}}</th>
        <td>{{order.product_name}}</td>
        <td>{{order.product_price}}</td>
        <td>{{order.product_quantity}}</td>
      </tr>
    </tbody>
  </table>