<nav aria-label="breadcrumb cart">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Cart</li>
    </ol>
</nav>

<div class="container">
    <div class="card mb-4">
        <div class="m-2 d-flex justify-content-between">
            <h6 class="m-4">My Cart ({{len}})</h6>
            <!-- <select class="form-select align-self-center mr-4-sm" aria-label="Default select example">
                <option selected>Select address</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select> -->
        </div>
        <div class="d-flex mb-4" *ngFor="let book of cart;let i=index;">
            <div class="ml-5 mb-3">
                <img src="../../assets/images/Image 10@2x.png" style="width: 70px;height: 100px;">
            </div>
            <div class="pl-4" style="background-color: white;">
                <h5>{{book.product_id.bookName}}</h5>
                <h6>{{book.product_id.author}}</h6>
                <div class="row px-3">
                    <div *ngIf="book.product_id.price>book.product_id.discountPrice">
                        Rs.{{book.product_id.price-book.product_id.discountPrice}}</div>
                    <div *ngIf="book.product_id.price<book.product_id.discountPrice">Rs.{{book.product_id.price}}</div>
                    <small class="px-3 align-self-center" *ngIf="book.product_id.price>book.product_id.discountPrice">
                        <s>Rs.{{book.product_id.price}}</s>
                    </small>
                </div>
                <div class="mt-2 row px-3">
                    <Button (click)="minus(book)" class="btn1"><i class="fa fa-minus" aria-hidden="true"></i></Button>
                    <input type="number" class="ml-2 mr-2 inpt" value="{{book.quantityToBuy}}">
                    <Button (click)="plus(book)" class="btn1"><i class="fa fa-plus" aria-hidden="true"></i></Button>
                    <h6 class="align-self-end ml-4" (click)="removeFromCart(book._id)">Remove</h6>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary mr-4 mb-4 px-4" style="float: right; border-radius: 0px;"
                (click)="toggleShow()">Place Order</button>
        </div>
    </div>
    <ngb-accordion #acc="ngbAccordion" [activeIds]="show">
        <ngb-panel title="Address Details">
            <ng-template ngbPanelContent>
                <form class="container col needs-validation justify-content-start" novalidate>
                    <div class="d-flex">
                        <div class="mr-4" style="width: 15rem;">
                            <label for="validationCustom01" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="validationCustom01" [(ngModel)]="fullName"
                                name="fullName" required>
                        </div>
                        <div style="width: 15rem;">
                            <label for="validationCustom02" class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" id="validationCustom02" [(ngModel)]="mobileNumber"
                                name="mobileNumber" required>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="row ml-1">
                            <h5>Address</h5>
                            <h6 class="ml-4 align-self-center" style="color: blue;"><a (click)="edit()">Edit</a></h6>
                        </div>
                        <div class="mb-3">
                            <label for="validationTextarea" class="form-label">Address</label>
                            <textarea class="form-control textAr" id="validationTextarea"
                                placeholder="Required example textarea" [(ngModel)]="address" name="address" required
                                [disabled]="editCondition"></textarea>
                        </div>
                        <div class="d-flex">
                            <div class="mr-2" style="width: 15rem;">
                                <label for="validationCustom03" class="form-label">City/Town</label>
                                <input type="text" class="form-control" id="validationCustom03" [(ngModel)]="city"
                                    name="city" required [disabled]="editCondition">
                            </div>
                            <div class="ml-3" style="width: 15rem;">
                                <label for="validationCustom04" class="form-label">State</label>
                                <input type="text" class="form-control" id="validationCustom04" [(ngModel)]="state"
                                    name="state" required [disabled]="editCondition">
                            </div>
                        </div>
                        <label class="mt-2">Type:</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                    [(ngModel)]="type" id="inlineRadio1" value="Home">
                                <label class="form-check-label" for="inlineRadio1">Home</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                    [(ngModel)]="type" id="inlineRadio2" value="Work">
                                <label class="form-check-label" for="inlineRadio2">Work</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                    [(ngModel)]="type" id="inlineRadio3" value="Other">
                                <label class="form-check-label" for="inlineRadio3">Other</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary mb-4 px-4 mt-2" style="float: right; border-radius: 0px;"
                            (click)="toggleContinue()">Continue</button>
                    </div>
                </form>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <div class="mt-4 mb-4">
        <ngb-accordion #acc="ngbAccordion" [activeIds]="show1">
            <ngb-panel title="Order Summary">
                <ng-template ngbPanelContent>
                    <div class="d-flex p-2" *ngFor="let book of cart;let i=index;">
                        <div class="ml-5 mb-3">
                            <img src="../../assets/images/Image 10@2x.png" style="width: 50px;height: 75px;">
                        </div>
                        <div class="pl-4" style="background-color: white;">
                            <h5>{{book.product_id.bookName}}</h5>
                            <h6>{{book.product_id.author}}</h6>
                            <div class="row px-3">
                                <div *ngIf="book.product_id.price>book.product_id.discountPrice">
                                    Rs.{{book.product_id.price-book.product_id.discountPrice}}</div>
                                <div *ngIf="book.product_id.price<book.product_id.discountPrice">
                                    Rs.{{book.product_id.price}}</div>
                                <div class="px-3" *ngIf="book.product_id.price>book.product_id.discountPrice">
                                    <s>Rs.{{book.product_id.price}}</s>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p>Total Amount = Rs.{{amount}}</p>
                        <p>Total Discount= Rs.{{discount}}</p>
                        <hr>
                        Final Amount = Rs.{{finalAmount}}
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary mb-4 px-4 mt-4" style="float: right; border-radius: 0px;"
                            (click)="placeOrder()">Place Order</button>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>