<nav class="navbar navbar-expand navBar">
  <div class="container-fluid align-items-center justify-content-around">
    <div class="d-flex book">
      <img src="../../assets/images/education.svg">
      <a class="navbar-brand ml-2" routerLink="/dashboard/home">Bookstore</a>
    </div>
    <div class="form-group has-search search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <div class="d-flex">
      <div class="ml-4 mr-4">
        <i class="fa fa-user prof"></i>
        <div class="dropdown">
          <label type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</label>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/dashboard/profile"><i class="fa fa-user mr-2"></i>Profile</a>
            <a class="dropdown-item" ><i class="fa fa-shopping-bag mr-2"></i>My Orders</a>
            <a class="dropdown-item" routerLink="/dashboard/wishlist"><i class="fa fa-heart mr-2"></i>Wishlist</a>
            <button class="dropdown-item btn" (click)="clearLocalStorage()" *ngIf="store">Logout</button>
            <button class="dropdown-item btn" routerLink='/login' *ngIf="noToken">Login</button>
          </div>
        </div>
      </div>
      <div class="ml-4 mr-4">
        <i class="fa fa-shopping-cart cart" routerLink="/dashboard/cart"><span class="badge bg-secondary">{{count}}</span></i>
        <div>
        <label routerLink="/dashboard/cart">Cart</label> 
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="card footer col-12">
  <div class="card-header">
    Copyright &#169; 2021, Bookstore Private Limited. All Rights Reserved
  </div>
</div>