<nav class="navbar navbar-expand navBar">
  <div class="container-fluid align-items-center justify-content-around">
    <div class="col-md-2 d-flex book">
      <img src="../../assets/images/education.svg">
      <a class="navbar-brand" routerLink="/dashboard/home">Bookstore</a>
    </div>
    <div class="form-group has-search col-md-4 search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <div class="d-flex justify-content-between">
      <div class="col-1">
        <i class="fa fa-user prof" routerLink=""></i>
        <label routerLink="">Profile</label>
      </div>
      <div class="col-1">
        <i class="fa fa-shopping-cart cart" routerLink="/dashboard/cart"></i>
        <label routerLink="/dashboard/cart">Cart</label>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="card footer col-12">
  <div class="card-header">
    Copyright &#169; 2021, Bookstore Private Limited. All Rights Reserved
  </div>
</div>