<div class="row top">
    <div class="col row align-items-center">
        <h3>Books</h3>
        <h5> ({{count}} items)</h5>
    </div>
    <div class="col-9">
        <div ngbDropdown class="d-inline-block" style="float: right;">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Sort by relevance</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="sortBy('p')">Price</button>
                <button ngbDropdownItem (click)="sortBy('a')">A-Z</button>
                <button ngbDropdownItem (click)="sortBy('z')">Z-A</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap display justify-content-center">
    <div class="card m-4" style="width: 15rem;" *ngFor="let book of books;let i=index;"
        (click)="bookDetails(book,images[i])">
        <img [src]="images[i]" class="card-img-top image" routerLink="/dashboard/book">
        <div class="card-body" style="background-color: white;padding-bottom: 0px;">
            <h5>{{book.bookName}}</h5>
            <h6>{{book.author}}</h6>
            <div class="row px-3">
                <div class="rating mr-2">4.5 &#9733;</div>
                <div>(20)</div>
            </div>
            <div class="row px-3">
                <div *ngIf="book.price>book.discountPrice">Rs.{{book.price-book.discountPrice}}</div>
                <div *ngIf="book.price<book.discountPrice">Rs.{{book.price}}</div>
                <div class="px-3" *ngIf="book.price>book.discountPrice"><s>Rs.{{book.price}}</s></div>
            </div>
            <div class="row d-flex card-body justify-content-center">
                <div>
                    <button type="button" class="btn add" *ngIf="!book.isAdded" (click)="addToCart(book._id)">ADD TO BAG</button>
                    <button type="button" class="btn add" *ngIf="book.isAdded">ADDED TO BAG</button>
                </div>
                <!-- <button type="button" class="btn wish ml-1 col align-self-end" *ngIf="book.isAdded" (click)="removeFromCart(book.productId)">REMOVE</button> -->
                <button type="button" class="btn wish1 ml-1 col align-self-end" *ngIf="!book.isAdded" (click)="postWishlist(book._id)">&hearts; WISHLIST</button>
            </div>
        </div>
    </div>
</div>

<div class="row col-12 justify-content-center">
    <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination" class="page"></ngb-pagination>
</div>