<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group px-4">
        <small for="exampleInputName1">Full Name</small>
        <input type="text" class="form-control" id="exampleInputName1" formControlName="fullName">
    </div>
    <div class="form-group px-4">
        <small for="exampleInputEmail1">Email Id</small>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="form-group px-4">
        <small for="exampleInputPassword1">Password</small>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>
    <div class="form-group px-4">
        <small for="exampleInputNumber1">Mobile Number</small>
        <input type="number" class="form-control" id="exampleInputNumber1" formControlName="mobileNumber">
    </div>
    <div class="px-4">
        <button type="button" class="btn btn-danger login" style="width: 100%;" type="submit">Sign Up</button>
    </div>
</form>

